<h2>My Reminders</h2>
<table mat-table [dataSource]="remindersList$" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="emailAddress">
    <th mat-header-cell *matHeaderCellDef>Email Address</th>
    <td mat-cell *matCellDef="let element">{{ element.emailAddress }}</td>
  </ng-container>

  <ng-container matColumnDef="frequency">
    <th mat-header-cell *matHeaderCellDef>Frequency</th>
    <td mat-cell *matCellDef="let element">{{ element.frequency }}</td>
  </ng-container>

  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef>Month</th>
    <td mat-cell *matCellDef="let element">{{ element.month }}</td>
  </ng-container>

  <ng-container matColumnDef="week">
    <th mat-header-cell *matHeaderCellDef>Week</th>
    <td mat-cell *matCellDef="let element">{{ element.week }}</td>
  </ng-container>

  <ng-container matColumnDef="weekday">
    <th mat-header-cell *matHeaderCellDef>Week Day</th>
    <td mat-cell *matCellDef="let element">{{ element.weekday }}</td>
  </ng-container>

  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef>Day</th>
    <td mat-cell *matCellDef="let element">{{ element.day }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let element">{{ element.time }}</td>
  </ng-container>

  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Message</th>
    <td mat-cell *matCellDef="let element">{{ element.message }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="selectReminder(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>

<form [formGroup]="form" class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td hidden="true">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>id</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailAddress" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Frequency</mat-label>
          <select
            formControlName="frequency"
            matNativeControl
            (change)="selectFrequency($event)"
          >
            <option value="Once">Once</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="MonthWeekly">MonthWeekly</option>
            <option value="Yearly">Yearly</option>
          </select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Time</mat-label>
          <input
            matInput
            formControlName="time"
            [ngxTimepicker]="default"
            readonly
          />
          <ngx-material-timepicker #default></ngx-material-timepicker>
        </mat-form-field>
      </td>
      <td>
        <ng-container *ngIf="form.get('date')">
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="form.get('week')">
          <mat-form-field appearance="fill">
            <mat-label>Week</mat-label>
            <select formControlName="week" matNativeControl>
              <option value="First">First</option>
              <option value="Second">Second</option>
              <option value="Third">Third</option>
              <option value="Fourth">Fourth</option>
            </select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="form.get('weekday')">
          <mat-form-field appearance="fill">
            <mat-label>Weekday</mat-label>
            <select formControlName="weekday" matNativeControl>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="form.get('month')">
          <mat-form-field appearance="fill">
            <mat-label>Month</mat-label>
            <select formControlName="month" matNativeControl>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="form.get('day')">
          <mat-form-field appearance="fill">
            <mat-label>Day</mat-label>
            <select formControlName="day" matNativeControl>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>
          </mat-form-field>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Message</mat-label>
          <input matInput formControlName="message" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onUpdate()"
        [disabled]="!form.valid"
      >
        Update
      </button>
      <mat-spinner *ngIf="spin"></mat-spinner>
      <span style="display: inline-block; width: 2px"></span>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onDelete()"
        [disabled]="!form.valid"
      >
        Delete
      </button>
      <span style="display: inline-block; width: 2px"></span>
    </tr>
  </table>
</form>

<!-- <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onAdd()"
        [disabled]="!enableAddState()"
      >
        Add
      </button>
      <span style="display: inline-block; width: 2px"></span> -->
<!-- <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onNew()"
        [disabled]="!enableNewState()"
      >
        New
      </button> -->
