<h2>My Contacts Files List</h2>
<div>
  <table mat-table [dataSource]="contactsFiles$" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="listName">
      <th mat-header-cell *matHeaderCellDef>List Name</th>
      <td mat-cell *matCellDef="let element">{{ element.listName }}</td>
    </ng-container>

    <ng-container matColumnDef="contactsCount">
      <th mat-header-cell *matHeaderCellDef>Contacts Count</th>
      <td mat-cell *matCellDef="let element">{{ element.contactsCount }}</td>
    </ng-container>

    <ng-container matColumnDef="addedDate">
      <th mat-header-cell *matHeaderCellDef>Added Date</th>
      <td mat-cell *matCellDef="let element">{{ element.addedDate }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsContactsList"></tr>

    <tr
      mat-row
      (click)="selectContactFile(row)"
      *matRowDef="let row; columns: displayedColumnsContactsList"
    ></tr>
  </table>
</div>

<div class="file-upload">
  <mat-form-field appearance="outline">
    <ngx-mat-file-input [formControl]="fileUploadControl"> </ngx-mat-file-input>
    <mat-hint>.csv file only with first name, last name, phone, email</mat-hint>
  </mat-form-field>
</div>

<div class="file-delete">
  <button mat-raised-button color="primary" (click)="onDelete()" type="submit">
    Delete
  </button>
</div>

<div *ngIf="spin">
  <mat-spinner></mat-spinner>
  <span style="display: inline-block; width: 2px"></span>
</div>
