table {
  margin-top: 60px;
  width: 100%;
}

td {
  padding-right: 8px;
}

/* img {
  height: 50px;
  width: 0px;
} */

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.image-list {
  height: 40px;
  width: 40px;
}

.example-card {
  max-width: 400px;
}

.contact-load {
  padding-top: 20px;
}

.buttons {
  padding-top: 20px;
}
