<h2>My Contacts</h2>
<table mat-table [dataSource]="contactsList$" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>Photo</th>
    <td mat-cell *matCellDef="let element">
      <img class="image-list" [src]="element.photo" />
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="emailAddress">
    <th mat-header-cell *matHeaderCellDef>Email Address</th>
    <td mat-cell *matCellDef="let element">{{ element.emailAddress }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="selectContact(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>

<form [formGroup]="form" class="example-form">
  <div class="contact-load" *ngIf="form.value.photo">
    <mat-card class="example-card">
      <mat-card-title-group>
        <img
          *ngIf="form.value.photo"
          mat-card-xl-image
          src="{{ form.value.photo }}"
        />
        <mat-card-subtitle>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailAddress" />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phoneNumber" />
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onUpdate()"
      [disabled]="!enableUpdateState()"
    >
      Update
    </button>
    <span style="display: inline-block; width: 14px"></span>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onDelete()"
      [disabled]="!enableDeleteState()"
    >
      Delete
    </button>
    <span style="display: inline-block; width: 14px"></span>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onAdd()"
      [disabled]="!enableAddState()"
    >
      Add
    </button>
    <span style="display: inline-block; width: 14px"></span>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onNew()"
      [disabled]="!enableNewState()"
    >
      New
    </button>
  </div>
</form>
<mat-spinner *ngIf="spin"></mat-spinner>
