a {
  text-decoration: none;
  color: white;

}

a:hover, a:active {
  color: lightgray;
}

.nav-caption {
  display:  inline-block;
  padding-left: 3px;
}

.mat-nav-list .is-active {
  background-color: lightgrey;
}
