<div class="buttons">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSave()"
    [disabled]="!enableSaveState()"
  >
    Save
  </button>
  <span style="display: inline-block; width: 14px"></span>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onDelete()"
    [disabled]="!enableDeleteState()"
  >
    Delete
  </button>
  <span style="display: inline-block; width: 14px"></span>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onCancel()"
    [disabled]="!enableCancelState()"
  >
    Cancel
  </button>
  <span style="display: inline-block; width: 14px"></span>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onNew()"
    [disabled]="!enableNewState()"
  >
    New
  </button>
</div>
